/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/
header{
    background-color: lightskyblue;
}

#logo_technolia{
    width: 100%;
    height: 100px;
}
#logo_technolia img {
    width:325px;
    height:100px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.section{
    text-align: center;
    margin: 0 auto;
    min-height: 500px;
}

.footer{

    height:50px;
    width:100%;
}

h1{
    font-size: 3em;
}


h4 {
    font-size: 1em;
}