

<section class="section">
  <h1>Selection d'une borne</h1>
  <h4>Veuillez selectionner une borne et remplir le champs de mot de passe.</h4>
  <form name="'form_borne" method="POST" action="/bornes/resultat">
    <select name="bornes">
        <option value="001001">001001 - Philibert</option>
        <option value="001002">001002 - Philibert</option>
        <option value="001003">001003 - Philibert</option>
        <option value="001101">001101 - Philibert</option>
        <option value="001102">001102 - Philibert</option>
        <option value="002001">002001 - Nice Gal</option>
        <option value="002002">002002 - Nice Gal</option>
        <option value="002003">002003 - Nice Gal</option>
        <option value="002101">002101 - Nice Gal</option>
        <option value="002102">002102 - Nice Gal</option>
        <option value="003001">003001 - Ponchettes</option>
        <option value="003002">003002 - Ponchettes</option>
        <option value="003003">003003 - Ponchettes</option>
        <option value="003101">003101 - Ponchettes</option>
        <option value="003102">003102 - Ponchettes</option>
        <option value="004001">004001 - Place Wilson</option>
        <option value="004002">004002 - Place Wilson</option>
        <option value="004003">004003 - Place Wilson</option>
        <option value="004101">004101 - Place Wilson</option>
        <option value="004102">004102 - Place Wilson</option>
        <option value="005001">005001 - Cessole</option>
        <option value="005002">005002 - Cessole</option>
        <option value="005003">005003 - Cessole</option>
        <option value="005101">005101 - Cessole</option>
        <option value="005102">005102 - Cessole</option>
        <option value="006001">006001 - Cyrille Besset</option>
        <option value="006002">006002 - Cyrille Besset</option>
        <option value="006003">006003 - Cyrille Besset</option>
        <option value="006101">006101 - Cyrille Besset</option>
        <option value="006102">006102 - Cyrille Besset</option>
        <option value="007001">007001 - Raiberti</option>
        <option value="007002">007002 - Raiberti</option>
        <option value="007003">007003 - Raiberti</option>
        <option value="007101">007101 - Raiberti</option>
        <option value="007102">007102 - Raiberti</option>
        <option value="008001">008001 - Deloye</option>
        <option value="008002">008002 - Deloye</option>
        <option value="008003">008003 - Deloye</option>
        <option value="008101">008101 - Deloye</option>
        <option value="008102">008102 - Deloye</option>
        <option value="009001">009001 - Saint François de Paule</option>
        <option value="009002">009002 - Saint François de Paule</option>
        <option value="009003">009003 - Saint François de Paule</option>
        <option value="009101">009101 - Saint François de Paule</option>
        <option value="009102">009102 - Saint François de Paule</option>
        <option value="010001">010001 - Congrès</option>
        <option value="010002">010002 - Congrès</option>
        <option value="010003">010003 - Congrès</option>
        <option value="010101">010101 - Congrès</option>
        <option value="010102">010102 - Congrès</option>
        <option value="012001">012001 - Califorie</option>
        <option value="012002">012002 - Californie</option>
        <option value="012003">012003 - Californie</option>
        <option value="012101">012101 - Californie</option>
        <option value="012102">012102 - Californie</option>
        <option value="013001">013001 - Lindbergh</option>
        <option value="013002">013002 - Lindbergh</option>
        <option value="013003">013003 - Lindbergh</option>
        <option value="013101">013101 - Lindbergh</option>
        <option value="013102">013102 - Lindbergh</option>
        <option value="014001">014001 - Avenue Thiers</option>
        <option value="014002">014002 - Avenue Thiers</option>
        <option value="014003">014003 - Avenue Thiers</option>
        <option value="014101">014101 - Avenue Thiers</option>
        <option value="014102">014102 - Avenue Thiers</option>
        <option value="015001">015001 - Notre Dame</option>
        <option value="015002">015002 - Notre Dame</option>
        <option value="015003">015003 - Notre Dame</option>
        <option value="015101">015101 - Notre Dame</option>
        <option value="015102">015102 - Notre Dame</option>
        <option value="016001">016001 - SAINT LAURENT Square Benes</option>
        <option value="016002">016002 - SAINT LAURENT Square Benes</option>
        <option value="016003">016003 - SAINT LAURENT Square Benes</option>
        <option value="016101">016101 - SAINT LAURENT Square Benes</option>
        <option value="016102">016102 - SAINT LAURENT Square Benes</option>
        <option value="017001">017001 - CAGNES Place de Gaulle</option>
        <option value="017002">017002 - CAGNES Place de Gaulle</option>
        <option value="017003">017003 - CAGNES Place de Gaulle</option>
        <option value="017101">017101 - CAGNES Place de Gaulle</option>
        <option value="017102">017102 - CAGNES Place de Gaulle</option>
        <option value="018001">018001 - Trachel</option>
        <option value="018002">018002 - Trachel</option>
        <option value="018003">018003 - Trachel</option>
        <option value="018101">018101 - Trachel</option>
        <option value="018102">018102 - Trachel</option>
        <option value="019001">019001 - Smolett</option>
        <option value="019002">019002 - Smolett</option>
        <option value="019003">019003 - Smolett</option>
        <option value="019101">019101 - Smolett</option>
        <option value="019102">019102 - Smolett</option>
        <option value="020001">020001 - Blanqui</option>
        <option value="020002">020002 - Blanqui</option>
        <option value="020003">020003 - Blanqui</option>
        <option value="020101">020101 - Blanqui</option>
        <option value="020102">020102 - Blanqui</option>
        <option value="021001">021001 - Saint Roch</option>
        <option value="021002">021002 - Saint Roch</option>
        <option value="021003">021003 - Saint Roch</option>
        <option value="021101">021101 - Saint Roch</option>
        <option value="021102">021102 - Saint Roch</option>
        <option value="022001">022001 - Saint Jean d'Angely</option>
        <option value="022002">022002 - Saint Jean d'Angely</option>
        <option value="022003">022003 - Saint Jean d'Angely</option>
        <option value="022101">022101 - Saint Jean d'Angely</option>
        <option value="022102">022102 - Saint Jean d'Angely</option>
        <option value="023001">023001 - Cimiez</option>
        <option value="023002">023002 - Cimiez</option>
        <option value="023003">023003 - Cimiez</option>
        <option value="023101">023101 - Cimiez</option>
        <option value="023102">023102 - Cimiez</option>
        <option value="024001">024001 - Alexandre Medecin</option>
        <option value="024002">024002 - Alexandre Medecin</option>
        <option value="024003">024003 - Alexandre Medecin</option>
        <option value="024101">024101 - Alexandre Medecin</option>
        <option value="024102">024102 - Alexandre Medecin</option>
        <option value="025001">025001 - Verdi</option>
        <option value="025002">025002 - Verdi</option>
        <option value="025003">025003 - Verdi</option>
        <option value="025101">025101 - Verdi</option>
        <option value="025102">025102 - Verdi</option>
        <option value="026001">026001 - Arbousiers</option>
        <option value="026002">026002 - Arbousiers</option>
        <option value="026003">026003 - Arbousiers</option>
        <option value="026101">026101 - Arbousiers</option>
        <option value="026102">026102 - Arbousiers</option>
        <option value="027001">027001 - Résistance</option>
        <option value="027002">027002 - Résistance</option>
        <option value="027003">027003 - Résistance</option>
        <option value="027101">027101 - Résistance</option>
        <option value="027102">027102 - Résistance</option>
        <option value="028001">028001 - Suarez</option>
        <option value="028002">028002 - Suarez</option>
        <option value="028003">028003 - Suarez</option>
        <option value="028101">028101 - Suarez</option>
        <option value="028102">028102 - Suarez</option>
        <option value="029001">029001 - Saint Philippe</option>
        <option value="029002">029002 - Saint Philippe</option>
        <option value="029003">029003 - Saint Philippe</option>
        <option value="029101">029101 - Saint Philippe</option>
        <option value="029102">029102 - Saint Philippe</option>
        <option value="030001">030001 - Turin</option>
        <option value="030002">030002 - Turin</option>
        <option value="030003">030003 - Turin</option>
        <option value="030101">030101 - Turin</option>
        <option value="030102">030102 - Turin</option>
        <option value="031001">031001 - GEORGES VILLE</option>
        <option value="031002">031002 - GEORGES VILLE</option>
        <option value="031003">031003 - GEORGES VILLE</option>
        <option value="031101">031101 - GEORGES VILLE</option>
        <option value="031102">031102 - GEORGES VILLE</option>
        <option value="032001">032001 - STALINGRAD</option>
        <option value="032002">032002 - STALINGRAD</option>
        <option value="032003">032003 - STALINGRAD</option>
        <option value="032101">032101 - STALINGRAD</option>
        <option value="032102">032102 - STALINGRAD</option>
        <option value="033001">033001 - NAPOLEON III</option>
        <option value="033002">033002 - NAPOLEON III</option>
        <option value="033003">033003 - NAPOLEON III</option>
        <option value="033101">033101 - NAPOLEON III</option>
        <option value="033102">033102 - NAPOLEON III</option>
        <option value="034001">034001 - VERNIER</option>
        <option value="034002">034002 - VERNIER</option>
        <option value="034003">034003 - VERNIER</option>
        <option value="034101">034101 - VERNIER</option>
        <option value="034102">034102 - VERNIER</option>
        <option value="035001">035001 - AUBER</option>
        <option value="035002">035002 - AUBER</option>
        <option value="035003">035003 - AUBER</option>
        <option value="035101">035101 - AUBER</option>
        <option value="035102">035102 - AUBER</option>
        <option value="036001">036001 - CHATEAUNEUF</option>
        <option value="036002">036002 - CHATEAUNEUF</option>
        <option value="036003">036003 - CHATEAUNEUF</option>
        <option value="036101">036101 - CHATEAUNEUF</option>
        <option value="036102">036102 - CHATEAUNEUF</option>
        <option value="037001">037001 - GROSSO</option>
        <option value="037002">037002 - GROSSO</option>
        <option value="037003">037003 - GROSSO</option>
        <option value="037101">037101 - GROSSO</option>
        <option value="037102">037102 - GROSSO</option>
        <option value="038001">038001 - BORNALA</option>
        <option value="038002">038002 - BORNALA</option>
        <option value="038003">038003 - BORNALA</option>
        <option value="038101">038101 - BORNALA</option>
        <option value="038102">038102 - BORNALA</option>
        <option value="039001">039001 - LA MARNE </option>
        <option value="039002">039002 - LA MARNE </option>
        <option value="039003">039003 - LA MARNE </option>
        <option value="039101">039101 - LA MARNE </option>
        <option value="039102">039102 - LA MARNE </option>
        <option value="040001">040001 - GRENOBLE</option>
        <option value="040002">040002 - GRENOBLE</option>
        <option value="040003">040003 - GRENOBLE</option>
        <option value="040101">040101 - GRENOBLE</option>
        <option value="040102">040102 - GRENOBLE</option>
        <option value="041001">041001 - COLOMARS</option>
        <option value="041002">041002 - COLOMARS</option>
        <option value="041003">041003 - COLOMARS</option>
        <option value="041101">041101 - COLOMARS</option>
        <option value="041102">041102 - COLOMARS</option>
        <option value="042001">042001 - RENE CASSIN</option>
        <option value="042002">042002 - RENE CASSIN</option>
        <option value="042003">042003 - RENE CASSIN</option>
        <option value="042101">042101 - RENE CASSIN</option>
        <option value="042102">042102 - RENE CASSIN</option>
        <option value="043001">043001 - BANVILLE</option>
        <option value="043002">043002 - BANVILLE</option>
        <option value="043003">043003 - BANVILLE</option>
        <option value="043101">043101 - BANVILLE</option>
        <option value="043102">043102 - BANVILLE</option>
        <option value="044001">044001 - VILLEFRANCHE - GENERAL DE GAULLE</option>
        <option value="044002">044002 - VILLEFRANCHE - GENERAL DE GAULLE</option>
        <option value="044003">044003 - VILLEFRANCHE - GENERAL DE GAULLE</option>
        <option value="044101">044101 - VILLEFRANCHE - GENERAL DE GAULLE</option>
        <option value="044102">044102 - VILLEFRANCHE - GENERAL DE GAULLE</option>
        <option value="045001">045001 - BEAULIEU - MARINONI</option>
        <option value="045002">045002 - BEAULIEU - MARINONI</option>
        <option value="045003">045003 - BEAULIEU - MARINONI</option>
        <option value="045101">045101 - BEAULIEU - MARINONI</option>
        <option value="045102">045102 - BEAULIEU - MARINONI</option>
        <option value="046001">046001 - NICE - VICTOR HUGO</option>
        <option value="046002">046002 - NICE - VICTOR HUGO</option>
        <option value="046003">046003 - NICE - VICTOR HUGO</option>
        <option value="046101">046101 - NICE - VICTOR HUGO</option>
        <option value="046102">046102 - NICE - VICTOR HUGO</option>
        <option value="047001">047001 - NICE - DESAMBROIS</option>
        <option value="047002">047002 - NICE - DESAMBROIS</option>
        <option value="047003">047003 - NICE - DESAMBROIS</option>
        <option value="047101">047101 - NICE - DESAMBROIS</option>
        <option value="047102">047102 - NICE - DESAMBROIS</option>
        <option value="048001">048001 - NICE - FABRON</option>
        <option value="048002">048002 - NICE - FABRON</option>
        <option value="048003">048003 - NICE - FABRON</option>
        <option value="048101">048101 - NICE - FABRON</option>
        <option value="048102">048102 - NICE - FABRON</option>
        <option value="049001">049001 - NICE - SAINT HELENE</option>
        <option value="049002">049002 - NICE - SAINT HELENE</option>
        <option value="049003">049003 - NICE - SAINT HELENE</option>
        <option value="049101">049101 - NICE - SAINT HELENE</option>
        <option value="049102">049102 - NICE - SAINT HELENE</option>
        <option value="050001">050001 - NICE - RAIMBALDI</option>
        <option value="050002">050002 - NICE - RAIMBALDI</option>
        <option value="050003">050003 - NICE - RAIMBALDI</option>
        <option value="050101">050101 - NICE - RAIMBALDI</option>
        <option value="050102">050102 - NICE - RAIMBALDI</option>
        <option value="051001">051001 - NICE - MADELEINE</option>
        <option value="051002">051002 - NICE - MADELEINE</option>
        <option value="051003">051003 - NICE - MADELEINE</option>
        <option value="051101">051101 - NICE - MADELEINE</option>
        <option value="051102">051102 - NICE - MADELEINE</option>
        <option value="052001">052001 - NICE - AEROPORT T2</option>
        <option value="052002">052002 - NICE - AEROPORT T2</option>
        <option value="052003">052003 - NICE - AEROPORT T2</option>
        <option value="052101">052101 - NICE - AEROPORT T2</option>
        <option value="052102">052102 - NICE - AEROPORT T2</option>
        <option value="053001">053001 - NICE - GARE THIERS - PARVIS</option>
        <option value="053002">053002 - NICE - GARE THIERS - PARVIS</option>
        <option value="053003">053003 - NICE - GARE THIERS - PARVIS</option>
        <option value="053101">053101 - NICE - GARE THIERS - PARVIS</option>
        <option value="053102">053102 - NICE - GARE THIERS - PARVIS</option>
        <option value="054001">054001 - NICE - PLACE MOZART</option>
        <option value="05400">054002 - NICE - PLACE MOZART</option>
        <option value="054003">054003 - NICE - PLACE MOZART</option>
        <option value="054101">054101 - NICE - PLACE MOZART</option>
        <option value="054102">054102 - NICE - PLACE MOZART</option>
        <option value="055001">055001 - NICE - GARNIER</option>
        <option value="055002">055002 - NICE - GARNIER</option>
        <option value="055003">055003 - NICE - GARNIER</option>
        <option value="055101">055101 - NICE - GARNIER</option>
        <option value="055102">055102 - NICE - GARNIER</option>
        <option value="056001">056001 - NICE - TZAREWITCH</option>
        <option value="056002">056002 - NICE - TZAREWITCH</option>
        <option value="056003">056003 - NICE - TZAREWITCH</option>
        <option value="056101">056101 - NICE - TZAREWITCH</option>
        <option value="056102">056102 - NICE - TZAREWITCH</option>
        <option value="057001">057001 - NICE - DELILLE</option>
        <option value="057002">057002 - NICE - DELILLE</option>
        <option value="057003">057003 - NICE - DELILLE</option>
        <option value="057101">057101 - NICE - DELILLE</option>
        <option value="057102">057102 - NICE - DELILLE</option>
        <option value="058001">058001 - NICE - CLEMENCEAU</option>
        <option value="058002">058002 - NICE - CLEMENCEAU</option>
        <option value="058003">058003 - NICE - CLEMENCEAU</option>
        <option value="058101">058101 - NICE - CLEMENCEAU</option>
        <option value="058102">058102 - NICE - CLEMENCEAU</option>
        <option value="059001">059001 - NICE - SAINT LAMBERT</option>
        <option value="059002">059002 - NICE - SAINT LAMBERT</option>
        <option value="059003">059003 - NICE - SAINT LAMBERT</option>
        <option value="059101">059101 - NICE - SAINT LAMBERT</option>
        <option value="059102">059102 - NICE - SAINT LAMBERT</option>
        <option value="060001">060001 - NICE - FLEURS</option>
        <option value="060002">060002 - NICE - FLEURS</option>
        <option value="060003">060003 - NICE - FLEURS</option>
        <option value="060101">060101 - NICE - FLEURS</option>
        <option value="060102">060102 - NICE - FLEURS</option>
        <option value="061001">061001 - NICE - PROVANA LEYNI</option>
        <option value="061002">061002 - NICE - PROVANA LEYNI</option>
        <option value="061003">061003 - NICE - PROVANA LEYNI</option>
        <option value="061101">061101 - NICE - PROVANA LEYNI</option>
        <option value="061102">061102 - NICE - PROVANA LEYNI</option>
        <option value="062001">062001 - NICE - ALBERTI</option>
        <option value="062002">062002 - NICE - ALBERTI</option>
        <option value="062003">062003 - NICE - ALBERTI</option>
        <option value="062101">062101 - NICE - ALBERTI</option>
        <option value="062102">062102 - NICE - ALBERTI</option>
        <option value="063001">063001 - NICE - EGLISE ST PIERRE D'ARENE</option>
        <option value="063002">063002 - NICE - EGLISE ST PIERRE D'ARENE</option>
        <option value="063003">063003 - NICE - EGLISE ST PIERRE D'ARENE</option>
        <option value="063101">063101 - NICE - EGLISE ST PIERRE D'ARENE</option>
        <option value="063102">063102 - NICE - EGLISE ST PIERRE D'ARENE</option>
        <option value="064001">064001 - NICE - SEGURANE</option>
        <option value="064002">064002 - NICE - SEGURANE</option>
        <option value="064003">064003 - NICE - SEGURANE</option>
        <option value="064101">064101 - NICE - SEGURANE</option>
        <option value="064102">064102 - NICE - SEGURANE</option>
        <option value="065001">065001 - NICE - GORBELLA</option>
        <option value="065002">065002 - NICE - GORBELLA</option>
        <option value="065101">065101 - NICE - GORBELLA</option>
        <option value="065102">065102 - NICE - GORBELLA</option>
        <option value="066001">066001 - NICE - MAX BAREL</option>
        <option value="066002">066002 - NICE - MAX BAREL</option>
        <option value="066003">066003 - NICE - MAX BAREL</option>
        <option value="066101">066101 - NICE - MAX BAREL</option>
        <option value="066102">066102 - NICE - MAX BAREL</option>
        <option value="067001">067001 - CAGNES SUR MER - GENERAL LECLERC</option>
        <option value="067002">067002 - CAGNES SUR MER - GENERAL LECLERC</option>
        <option value="067003">067003 - CAGNES SUR MER - GENERAL LECLERC</option>
        <option value="067101">067101 - CAGNES SUR MER - GENERAL LECLERC</option>
        <option value="067102">067102 - CAGNES SUR MER - GENERAL LECLERC</option>
        <option value="068001">068001 - CAGNES SUR MER – HIPPODROME</option>
        <option value="068002">068002 - CAGNES SUR MER – HIPPODROME</option>
        <option value="068003">068003 - CAGNES SUR MER – HIPPODROME</option>
        <option value="068101">068101 - CAGNES SUR MER – HIPPODROME</option>
        <option value="068102">068102 - CAGNES SUR MER – HIPPODROME</option>
        <option value="069001">069001 - NICE - ROSA BONHEUR</option>
        <option value="069002">069002 - NICE - ROSA BONHEUR</option>
        <option value="069003">069003 - NICE - ROSA BONHEUR</option>
        <option value="069101">069101 - NICE - ROSA BONHEUR</option>
        <option value="069102">069102 - NICE - ROSA BONHEUR</option>
        <option value=""></option>
    </select>
    <span>Mot de passe</span> <input type ="password" id="pass" name="pass">
    <input type="submit" name = "envoyer" id="validation" value="envoyer">
    <p id="error" style="color:red;"><%= params[:notice] %></p>
  </form>

</section>
