<!DOCTYPE html>
<html>
<head>
  <title>Mise à jour d'une borne</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <header class="header">
      <div id = logo_technolia>
        <img src="/assets/logo_technolia.png">
      </div>
    </header>
    <%= yield %>

    <footer class="footer">


    </footer>
</body>
</html>
